In [1]:
import numpy as np
import pandas as  pd
d=pd.read_csv(r"C:\Users\pc\Desktop\bank.csv")

In [2]:
d.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [3]:
d.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [4]:
x=d.iloc[:,4:16]
y=d.iloc[:,16]

In [5]:
x

,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown
1,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown
2,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown
3,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown
4,no,184,no,no,unknown,5,may,673,2,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
11157,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown
11158,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown
11159,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown
11160,no,0,no,yes,cellular,8,may,9,2,172,5,failure
11161,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown

In [6]:
x=d.iloc[:,4:16].values
y=d.iloc[:,16].values

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
x

array([['no', 2343, 'yes', ..., -1, 0, 'unknown'],
       ['no', 45, 'no', ..., -1, 0, 'unknown'],
       ['no', 1270, 'yes', ..., -1, 0, 'unknown'],
       ...,
       ['no', 29, 'no', ..., -1, 0, 'unknown'],
       ['no', 0, 'no', ..., 172, 5, 'failure'],
       ['no', 0, 'no', ..., -1, 0, 'unknown']], dtype=object)

In [8]:
ct=ColumnTransformer([("oh",OneHotEncoder(),[0,2,3,4,6,11])],remainder="passthrough")

In [9]:
x=ct.fit_transform(x)

In [10]:
x.shape

(11162, 31)

In [11]:
x

array([[1.0, 0.0, 0.0, ..., 1, -1, 0],
       [1.0, 0.0, 1.0, ..., 1, -1, 0],
       [1.0, 0.0, 0.0, ..., 1, -1, 0],
       ...,
       [1.0, 0.0, 1.0, ..., 2, -1, 0],
       [1.0, 0.0, 1.0, ..., 2, 172, 5],
       [1.0, 0.0, 1.0, ..., 1, -1, 0]], dtype=object)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=100)

In [13]:
x_test

array([[1.0, 0.0, 0.0, ..., 1, 302, 3],
       [1.0, 0.0, 0.0, ..., 2, -1, 0],
       [1.0, 0.0, 1.0, ..., 1, 94, 3],
       ...,
       [1.0, 0.0, 0.0, ..., 1, 296, 1],
       [1.0, 0.0, 1.0, ..., 1, -1, 0],
       [1.0, 0.0, 1.0, ..., 3, -1, 0]], dtype=object)

In [14]:
x_test.shape

(2233, 31)

In [15]:
from sklearn.linear_model import LogisticRegression
lor=LogisticRegression()

In [16]:
lor.fit(x_train,y_train)

E:\pytho\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
ypred=lor.predict(x_test)
y_test

array(['yes', 'no', 'yes', ..., 'yes', 'yes', 'yes'], dtype=object)

In [18]:
ypred

array(['yes', 'no', 'yes', ..., 'no', 'yes', 'yes'], dtype=object)

In [19]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(ypred,y_test)

In [20]:
accuracy

0.799373040752351

In [21]:
lor.predict(ct.transform([["no",2343,"yes","no","unknown",5,"may",1042,1,-1,0,"unknown"]]))

array(['yes'], dtype=object)

In [22]:
lor.predict(ct.transform([["no",2343,"yes","no","unknown",5,"may",1042,1,-1,0,"unknown"]]))

array(['yes'], dtype=object)